
p {
    color: rgb(185, 47, 47);
    font-size: 20px;
    text-align: center;
}

body{
   background-color: azure
}
#p1{
    color: rgb(59, 59, 59);
    font-size: 30px;
    text-align: center;
}
#p2{
    color: rgb(59, 59, 59);
    font-size: 30px;
    text-align: center;
}

h1{color: chocolate;
    font-size: 40px;
    text-align: center;

}